<div class="container">
    <div class="header">
      <span>
        <app-button
        [text]="addTaskText"
        [color]="addTaskColor"
        (btnClick)="addTask()"
        ></app-button>
      </span>
        <span>
            <ng-container *ngIf="((activeButtonGroup === 'task') || (activeButtonGroup === 'step'))"> 
              <app-button
                *ngFor="let button of getButtonsData()"
                [text]="button.text + nodeName"
                [color]="button.color"
                (btnClick)="performAction(button.action)"
              ></app-button>
            </ng-container> 
          </span>
   </div>
    <app-tree (nodeDoubleClick)="nodeDoubleClicked($event)"></app-tree>
</div>
